<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="com.saucedemo.automation.listeners.TestListeners"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.saucedemo.automation.tests.LoginTest">
                <methods>
                    <include name="invalidLoginTest"/>
                    <include name="validLoginTest"/>
                    <include name="blockedLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>